<header>
  <div class="container">
    <div class="header-container">
      <a href="./" class="studio-logo-header"
        ><span class="web-logo-header">WEB</span>STUDIO</a
      >
      <nav class="nav-container">
        <ul class="nav-item">
          <li class="nav-list">
            <a href="./" class="nav-link current">Studio</a>
          </li>
          <li class="nav-list">
            <a href="./portfolio.html" class="nav-link">Portfolio</a>
          </li>
          <li class="nav-list">
            <a href="#" class="nav-link">Contacts</a>
          </li>
        </ul>
      </nav>

      <address>
        <ul class="address-item">
          <li class="address-list">
            <a href="mailto:info@devstudio.com" class="address-link"
              >info@devstudio.com</a
            >
          </li>
          <li class="address-list">
            <a href="tel:+110001111111" class="address-link"
              >+11 (000) 111-11-11</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
